.footer-section {
  width: 100%;
  background: var(--bg-main);
  color: var(--text-main);
  padding: 2rem 0 1rem 0;
  text-align: center;
  font-size: 1rem;
  box-shadow: var(--card-shadow);
  margin: 3rem;
}

.footer-content {
  max-width: 900px;
  margin: 0 auto;
}
