html, body {
  box-sizing: border-box;
  width: 100vw;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: 'Inter', 'Arial', sans-serif;
  background: #101820;
}

#root {
  width: 100vw;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}